.simpleDirections .esriStopsAddDestination,
.simpleDirections .esriStopsOptionsButton,
.simpleDirections .esriStopsGetDirectionsContainer,
.simpleDirections .esriStopsReverse,
.simpleDirections .esriStopReverseColumn,
.simpleDirections .startTimeMenuButton,
.simpleDirections .zoomLocateButton,
.simpleDirections .esriStopsRemovable .esriStopIconRemoveColumn {
	display: none !important;
}

.simpleDirections .esriRouteLength {
    top: 0; 
}

.simpleDirections .esriPrintFooter,
.simpleDirections .esriRouteInfo, .simpleDirections .esriRouteInfo strong,
.simpleDirections .esriRouteZoom:focus .esriRouteInfo, .simpleDirections .esriRouteZoom:focus .esriRouteInfo strong,
.simpleDirections .esriStop .esriStopIcon,
.simpleDirections .esriRouteIconColumn .esriRouteIcon {
    color: black;
}

.simpleDirections .esriRouteZoom .esriRouteLength, .simpleDirections .esriRouteZoom:focus .esriRouteLength {
    background: #434343;
    color: white;
}

.simpleDirections .esriRoutesError {
    padding: 10px;
    text-align: left;
    color: darkred;
    font-size: larger;
}

.simpleDirections .esriRouteIcon img,
.simpleDirections .esriStop .esriStopIcon img 
{
	position:absolute;
	display: block;
}

.simpleDirections .esriStop .esriStopIcon img 
{
	margin-left: 3px;
}

.simpleDirections .esriRouteIcon span,
.simpleDirections .esriStop .esriStopIcon span {
    font-weight: bold;
    position: absolute;
    margin-top: 1px;
    font-size: 12px;
}

.simpleDirections .esriRouteIcon span {
    margin-left: 8px;
}

.simpleDirections .esriStop .esriStopIcon span {
    margin-left: 10px;
}

@supports (display: -webkit-box) {
	.simpleDirections .esriRouteIcon span,
	.simpleDirections .esriStop .esriStopIcon span {
	    margin-left: -3px;
	}
}

.simpleDirections .esriRouteTextColumn {
    padding: 8px 5px 0px 0px;
}

.simpleDirections .esriRouteTextColumnCumulative {
    padding-top: 4px;
}

.simpleDirections .esriStop td {
    padding-bottom: 0;
}

.simpleDirections .arcgisSearch .searchGroup .searchInput {
    background-color: white;
    color: black;
}

.simpleDirections .esriStopsGetDirections,
.simpleDirections .esriDisabledDirectionsButton,
.simpleDirections .arcgisSearch .sourceName,
.simpleDirections .arcgisSearch .searchButtonText
{
	background: black;
	color: white;
}

.directionsHeader {
	float: right;
    margin-top: 1px;
}

.directionsHeader img,
.directionsHeader input[type="image"] {
    height: 12px !important;
    width: 12px !important;
}

@media only screen and (min-width: 720px) {
    .directionsHeader img,
    .directionsHeader input[type="image"] {
        height: 18px !important;
        width: 18px !important;
    }
}

.simpleDirections .locateContainer input {
    height: 18px; 
    width: 18px; 
    padding: 0; 
}

.directionsHeader .locateContainer input{
	float: none;
    display: inline-block;
    margin: 0;
    padding:0;
    height: 18px;
    width: 18px;
}

.LocateButton .zoomLocateButton:before {
	content:'';
	font-size:1px;
}

.directionsHeader .locateButton {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 1px;
}

.simpleDirections .arcgisSearch .searchClear,
.simpleDirections .arcgisSearch .hasValue .searchClear {
    display: block; 
    height:22px;
    width:22px;
    right: 2px;
    top: 5px;
}

.simpleDirections .arcgisSearch .searchGroup {
	color: black;
	border-bottom: 1px solid #a0a0a0;
}

.simpleDirections .arcgisSearch {
    margin-right: 2px;
}

.simpleDirections .esri-icon-close:before {
    content: '';
}

.simpleDirections .arcgisSearch .searchIcon {
	height:auto;
}

.simpleDirections .arcgisSearch .searchGroup .searchInput {
    width: calc(100% - 34px);
}

.simpleDirections span.searchIcon.esri-icon-close.searchClose img {
	width:10px;
	height:10px;
}

.simpleDirections .arcgisSearch .searchGroup .searchInput, 
.dj_rtl .simpleDirections .arcgisSearch .searchGroup .searchInput {
	border: 0px solid #a0a0a0;
    border-bottom: 0px solid #a0a0a0;
} 

.simpleDirections .arcgisSearch .searchGroup .searchInput {
    padding: 6px 4px 3px 7px;
}

.dj_rtl .simpleDirections .arcgisSearch .searchGroup .searchInput {
    padding: 6px 4px 5px 4px;
}

.simpleDirections .arcgisSearch .searchClose, 
.simpleDirections .arcgisSearch .searchSpinner {
    /*opacity: 1;*/
    padding: 3px;
    width: auto;
    right:0;
}

@media only screen and (min-width: 720px) {
	.simpleDirections .arcgisSearch .searchClose, 
	.simpleDirections .arcgisSearch .searchSpinner {
	    /*opacity: 1;*/
	    padding: 6px;
	}

    .simpleDirections .arcgisSearch .searchGroup .searchInput {
        padding: 6px 4px 3px 0px;
    }
}

.dojoDndHandle img.upDownHandle {
	opacity:0.1;
	pointer-events: none;
}

.dojoDndHandle:focus img.upDownHandle,
.simpleDirections .esriStop .esriStopDnDHandle img.upDownHandle
 {
	opacity:1;
}

.simpleDirections .esriStop .esriStopDnDHandle {
    background: none;
}

.simpleDirections .hide,
.directionsHeader .hide  {
    display: none;
}

.simpleDirections .esriTrafficLabelLight {
    color: darkgreen;
}

.simpleDirections .esriTrafficLabelHeavy {
    color: darkred;
}

.simpleDirections .esriResultsSummary {
    color: #000;
}