<div lang="FR-CA">
    <h2 class='instructionsTitle'>Outre la souris, vous pouvez utiliser les raccourcis suivants:</h2>
    <ul id='instructionsList'>
        <li>La touche <myKey>Tab</myKey> pour naviguer d’un élément à l’autre.</li>
        <li><myKey>MAJ Tab</myKey> pour naviguer vers l’arrière.</li>
        <li>La barre <myKey>ESPACEMENT</myKey> pour activer une sélection plus précise.</li>
        <li>La touche <myKey>ENTRÉE</myKey> pour activer l’élément choisi.</li>
        <li>Appuyer sur <myKey><span title="Alternative"
            >Alt</span> + Flèche vers le bas</myKey> pour ouvrir une liste déroulante.</li>
        <li>La touche <myKey title="Accélération">Alt</myKey> avec une chiffre pour naviguer rapidement - l’indice s’affiche. <br/>(Sur iOS, la touche <myKey title = "Accélération">Alt</myKey> est la combinaison <myKey title = "Contrôle">Ctrl</myKey> + <myKey>Option</myKey>.)</li>
        <li>La touche <myKey aria-label="Échappement" title="Échappement">ESC</myKey> pour aller au point de départ de l’élément choisi.</li>
    </ul>
</div>
