<div>
    <h2 class='instructionsTitle'>In addition to the mouse you may:</h2>
    <ul id='instructionsList'>
        <li>Use <myKey>Tab key</myKey> to navigate from item to item.</li>
        <li>Use <myKey>SHIFT Tab</myKey> to navigate backwards.</li>
        <li>Hit <myKey>SPACE&nbsp;bar</myKey> to toggle a focused check box.</li>
        <li>Press <myKey>ENTER</myKey> to activate the focused item.</li>
        <li>Press <myKey><span title="Alternate"
            >Alt</span> + Arrow Down</myKey> keys to expand a combo box.</li>
        <li>Use <myKey title="Accelerating Key">Alt</myKey> with a digit for navigate fast - hint will display.<br/>(On iOS, the <myKey title="Accelerating">Alt</myKey> key is the combination <myKey title="Control">Ctrl</myKey> + <myKey>Option</myKey> keys.)</li>
        <li>Use <myKey aria-label="Escape" title="Escape">ESC</myKey> to go to the parent of the focus element.</li>
    </ul>
</div>
