#languageSelectNode label {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 0;
}

@media only screen and (min-width: 720px) {
    #languageSelectNode label {
        font-size: 18px;
        margin-right: 4px;
    }
}

#languageSelectNode .dijitArrowButtonInner {
  display:none;
}

.langMenuItemIcon {
   height:15px; 
   vertical-align: middle;
}

.langIcon {
    height:16px; 
    vertical-align: middle;
}

@media only screen and (min-width: 720px) {
    .langIcon {
        height:22px; 
    }
    
    .langMenuItemIcon {
       height:20px; 
    }

}
