<div class='ImageToggleButton' role="button">
	<div>
		<input type="${defaults.type}" id="${id}_cb" data-dojo-attach-point="myInput" class="cbToggleBtn"${name}${_value}></input>
		<label for="${id}_cb" id="${id}_lbl" data-dojo-attach-point="myLabel" class="cbToggleBtn" tabindex=0 role="checkbox" aria-checked="false">
			<img src="${defaults.imgUnselected}" alt="${defaults.titleUnselected}" class="${defaults.imgUnselectedClass} ${defaults.imgClass} UnselectedToggleImg" />
			<img src="${defaults.imgSelected}" alt="${defaults.titleSelected}" class="${defaults.imgSelectedClass} ${defaults.imgClass} SelectedToggleImg" />
			<span style="display:none">Toggle</span>
		</label>
		<div id="${id}_msg" class="toggleBtnMessage" data-dojo-attach-point="myMessage" tabindex=0></div>
	</div>
</div>
