<div class="featureItem">
	<table width=100%>
		<tr>
			<th valign="top" rowspan="3">
				<input id="featureButton_${_layerId}_${_featureId}" class="checkbox" type="checkbox" name="featureItem" value="${_layerId},${_featureId}" 
				data-dojo-attach-event="onchange: featureExpand"/>
			</th>
			<th valign="top" align="left" width=100%>
				<label for="featureButton_${_layerId}_${_featureId}" class="checkbox">${_title}</label>
			</th>
		</tr>
		<tr class="featureControls featureItem_${_layerId}_${_featureId} hideAttr">
			<!-- <td></td> -->
			<td>
				<input id="panBtn_${_layerId}_${_featureId}" class="fc bg pageBtn" type="button" value="${_panTo}" 
				data-dojo-attach-event="onclick: featurePan"
				data-layerId="${_layerId}" data-featureId="${_featureId}"/>

				<input id="zoomBtn_${_layerId}_${_featureId}" class="fc bg pageBtn" type="button" value="${_zoomTo}" 
				data-dojo-attach-event="onclick: featureZoom"
				data-layerId="${_layerId}" data-featureId="${_featureId}"/>
			</td>
		</tr>
		<tr class="featureContent featureItem_${_layerId}_${_featureId} hideAttr">
			<!-- <td></td> -->
			<td class="featureContentPane">
			</td>
		</tr>
	</table>
</div>
