<div
	class="PrintDialog"
    data-dojo-attach-point="printDiv">
    <label data-dojo-attach-point="legend" class="checkbox" style="padding: 5px;">
    	<input
    		id="legend_ck"
    		class="checkbox"
			type="checkbox"
            data-dojo-attach-event="change:_legendChange">
        ${config.i18n.tools.print.legend}
    </label>
	<div
        class="printError" style="display:none;"
        data-dojo-attach-point="printError">
        <div><span aria-live="polite" aria-atomic="true" data-dojo-attach-point="errorMessage"></span></div>
        <input type="button" value="${config.i18n.tools.print.clearGraphicLayer}" data-dojo-attach-event="click:_clearGraphicLayer">
    </div>
</div>