.printError {
    bottom: 0;
    position: absolute;
    padding: 10px;
}

.printError span {
    color: #b60000;
}

.printError input {
    margin-top: 10px;
}

.headerButton span {
    color: black;
}

.esriPrint .dijitArrowButtonChar {
    display: block !important;
}
