.nav {
  border: solid 1px grey;
  padding: 5px 10px;
  text-decoration: none;
}

#header {
    border-bottom: solid 1px #ccc;
    height: 60px;
    text-align: center;
}

.popupInfoHeader {
    float: right;
    margin-right: 4px;
    margin-top: 1px;
}

.popupInfoHeader * {
	  display: inline;
}

.popupInfoHeader img {
    height: 12px !important;
    width: 12px !important;
    display: inline;
    vertical-align: text-bottom;
}

@media only screen and (min-width: 720px) {
  .popupInfoHeader img {
    height: 18px !important;
    width: 18px !important;
  }
}

.titleButton {
	width: 12px;
    height: 12px;
    display: inline-block !important;
}

.next {
	  content: "\e808";
}

.esriViewPopup .mainSection .attrTable td.attrName {
    color: black;
}

.esriViewPopup .mainSection .attrTable td.attrValue {
    color: black;
    font-weight: bold;
}

#search_more_results_show {
    display: none;
}

.arcgisSearch .moreResults .resultsList {
    display: block;
}

h3.moreItem,
h4.popupHeader {
    margin: 0;
    padding: 3px;
}

h4.popupHeader {
    font-size: smaller;
}

#search_more_results_list ol {
    margin: 0 0 8px 0;
}

.infoPanelFooter{
    position: absolute;
    padding: 0 8px;
    bottom: 0px;
    background: white;
    padding-top: 6px;
}

.locatorScore {
    white-space: nowrap;
}

.locatorCopy {
    position: absolute;
    right: 8px;
    bottom: 7px;
    text-decoration: none;
}

.locatorCopy:hover {
    text-decoration: underline;
}

.geoCoding {
    padding: 0;
    margin: 0 !important;
}

.geoCoding img {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.geoCodingUnselected {
    display:none !important;
}

#pageBody_infoPanel {
    overflow-y: hidden;
}

#popupInfoContentWrapper {
    background-color: white;
    height: calc(100% - 35px);
    overflow-y:auto;
}
